.footer {
	&__top {
		padding-top: 43px;
		padding-bottom: 62px;
		background-size: cover;
		background-image: url('../../images/footer-bg.jpg');
	}
	&__container {
		display: flex;
		justify-content: space-between;
	}
	&__bottom {
		background-color: #000212;
		padding: 8px 0;
		border-top: 1px solid rgba(#fff, 0.3);
	}
	&__copy {
		font-family: Montserrat;
		font-size: 18px;
		font-weight: 400;
		line-height: 1.2;
		color: #fff;
		letter-spacing: 0em;
		text-align: center;
	}
	&__text {
		color: #fff;
		font-family: Montserrat;
		font-size: 18px;
		font-weight: 400;
		line-height: 1.2;
		letter-spacing: 0em;
		text-align: center;
	}
	&__link {
		color: $hoverColor;
		@include hoverColor(#fff);
	}
	.socials {
		margin-top: 30px;
		margin-right: 0;
		column-gap: 20px;
	}
}
.footer-column {
	max-width: 252px;
	&__address {
		margin-top: 38px;
		font-family: Montserrat;
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: 0em;
		text-align: left;
		margin-bottom: 30px;
		color: #fff;
		address {
			color: #fff;
			font-style: normal;
		}
	}
	&__button {
		display: block;
		width: 100%;
		text-align: center;
	}
}
.footer-logo {
	&__img {
		max-width: 238px;
	}
}
.footer-list__name {
	font-family: Montserrat;
	font-size: 22px;
	font-weight: 600;
	line-height: 1;
	color: #fff;
	letter-spacing: -0.5px;
	text-align: left;
}
.footer-socials {
	max-width: 191px;
	&__items {
		display: flex;
		flex-wrap: wrap;
		row-gap: 30px;
		column-gap: 30px;
		margin-top: 38px;
	}
	&__link {
		@include flexCenter();
		
		transition: 0.4s;
		padding: 3px;
		width: 36px;
		height: 36px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		&::after {
			content: '';
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 36px;
			height: 36px;
			position: absolute;
			transition: 0.4s;
			border: 2px solid #c2873f;
		}
		&::before {
			content: '';
			width: 42px;
			height: 42px;
			position: absolute;
			background-color: #c2873f;
			opacity: 0;
			transition: 0.6s;
		}
		@include hoverSvg(#fff, 0.6s);
		svg {
			width: 15px;
			height: 15px;
			position: relative;
			z-index: 2;
		}
		&:hover {
			&::before {
				opacity: 1;
			}
			&::after {
				border-color: #fff;
			}
		}
	}
}
.footer-list {
	&__items {
		margin-top: 30px;
	}
	&__item {
		@include paddingAll(14px);
	}
	&__link {
		font-family: Montserrat;
		font-size: 16px;
		color: #fff;
		width: fit-content;
		font-weight: 400;
		line-height: 1.4;
		letter-spacing: 0em;
		text-align: left;
		@include hoverColor($hoverColor);
		@include hoverLink($hoverColor);
	}
}
@include media(1300) {
	.footer-logo__img {
		max-width: 100%;
	}
	.footer-column {
		max-width: 220px;
		&__address {
			margin-top: 28px;
			margin-bottom: 22px;
			font-size: 14px;
		}
	}
	.footer-column__button {
		padding: 14px;
	}
	.footer__container {
		column-gap: 20px;
	}
	.footer-list {
		&__name {
			font-size: 20px;
		}
		&__items {
			margin-top: 25px;
		}
		&__link {
			font-size: 14px;
		}
	}
	.footer-socials {
		max-width: 160px;
		&__items {
			column-gap: 17px;
			row-gap: 20px;
		}
	}
}
@include media(1024) {
	.footer__top {
		.footer__container {
			display: grid;
			grid-template-columns: 1fr 1fr;
			row-gap: 60px;
			align-items: center;
			justify-items: center;
		}
	}
}
@include media(780) {
	.footer__top {
		.footer__container {
			row-gap: 30px;
			grid-template-columns: 1fr;
		}
	}
	.footer__bottom {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.footer-socials {
		display: none;
	}
	.footer-column {
		width: 100%;
		max-width: 100%;
		display: flex;
		align-items: end;
		justify-content: space-between;
		&__button {
			max-width: 200px;
		}
		&__address {
			margin-bottom: 0;
		}
	}

	.footer__top {
		padding-bottom: 40px;
	}
	.footer-list {
		max-width: 100%;
		width: 100%;
		&__name {
			font-size: 24px;
			margin-bottom: 10px;
		}
		&_df {
			display: flex;
			justify-content: space-between;
			align-items: end;
		}
		&_oh {
			.footer-list__items {
				display: flex;
				width: 100%;
				column-gap: 40px;
			}
			.footer-list__item {
				padding-bottom: 0;
			}
		}
		.socials {
			margin-top: 0;
		}
	}
}
@include media(540) {
	.footer-list {
		&_none {
			.footer-list__item:nth-child(n + 4) {
				display: none;
			}
		}
	}
	.footer__top {
		padding-bottom: 16px;
	}
	.footer-column__content {
		max-width: 55%;
	}
	.footer-column__address {
		font-size: 10px;
	}
	.footer-column {
		column-gap: 16px;
	}
}
@include media(480) {
	.footer-column__button {
		max-width: 41%;
		padding: 7px;
		padding-left: 0;
		padding-right: 0;
		font-size: 16px;
	}
	.footer-list_oh {
		.footer-list__items {
			overflow: auto;
		}
	}
	.footer-list_oh .footer-list__item {
		width: max-content;
	}
	.footer__text,
	.footer__copy {
		font-size: 12px;
	}
	.footer-list_df {
		.socials {
			column-gap: 15px;
		}
	}
	.footer-list__items{
		margin-top: 0;
	}
	.socials__link{
		svg{
			width: 36px;
			height: 36px;
		}
	}
	.footer-list__item{
		padding-bottom: 10px;
	}
	.footer-list__content{
		.footer-list__item{
			&:nth-child(2){
				padding-bottom: 2px; 
			}
		}
	}
}
