// =====================================================================================================================
.header {
	width: 100%;
	padding: 20px 0 16px;
	border-bottom: solid 1px;
	position: absolute;
	z-index: 2;

	@include rgbaColor(bor, #fff, 0.2);
	&__logo {
		max-width: 238px;
	}
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__left {
		display: flex;
		align-items: center;
	}
}
.menu {
	&__list {
		display: flex;
		column-gap: 80px;
	}
	&__link {
		color: #fff;
		font-family: Open Sans;
		font-size: 20px;
		font-weight: 400;
		line-height: 1.2;
		letter-spacing: 0em;
		text-align: left;
		@include hoverColor($hoverColor);
		@include hoverLink($hoverColor);
	}
}
.socials {
	display: flex;
	column-gap: 40px;
	margin-right: 96px;
	&__link {
		@include flexCenter();
		@include hoverSvg(#fff, 0.4s);
		transition: 0.4s;
		padding: 3px;
		&:hover {
			background-color: $hoverColor;
		}
	}
}
.language {
	margin-right: 62px;
	display: flex;
	column-gap: 20px;
	&__item {
		position: relative;
		font-family: Open Sans;
		font-size: 20px;
		font-weight: 400;
		line-height: 1.3;
		color: #fff;
		@include hoverColor($hoverColor);
		cursor: pointer;
		span {
			pointer-events: none;
			font-family: Open Sans;
			font-size: 20px;
			font-weight: 400;
			line-height: 1;
			right: -15px;
			color: #fff;
			position: absolute;
		}
		&:last-child {
			span {
				color: red;
				display: none;
			}
		}
	}
}
.language-item-active {
	color: $hoverColor;
}
.header-contacts {
	&__link {
		font-family: Open Sans;
		font-size: 20px;
		font-weight: 400;
		color: #fff;
		line-height: 1.3;
		@include hoverColor($hoverColor);
		@include hoverLink($hoverColor);
	}
}
// =====================================================================================================================

// Burger

.icon-menu {
	display: none;
	margin-left: 20px;
	background: none;
	@include media(1024) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(27);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: '';
			transition: all 300ms ease 0ms;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(5);
			background-color: #ffffff;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: 50%;
			transform: translateY(-50%);
		}
		.open & {
			span,
			&::before,
			&::after {
				content: '';
				background-color: #c2873f;
			}
			span {
				width: 0;
			}
			&::before {
				transform: translateY(-50%) rotate(-45deg);
				top: 50%;
			}
			&::after {
				transform: translateY(-50%) rotate(45deg);
				top: 50%;
			}
		}
	}
}

@media (max-width: 1652px) {
	.header__logo {
		max-width: 178px;
		img {
			width: 100%;
		}
	}
}
@media (max-width: 1500px) {
	.menu__list {
		column-gap: 60px;
	}
	.menu__link {
		font-size: 16px;
	}
	.header {
		.socials {
			margin-right: 68px;
			column-gap: 32px;
		}
	}
	.header-contacts__link,
	.language__item {
		font-size: 18px;
	}
	.language__item span {
		right: -40%;
		transform: translateX(50%);
	}
	.language {
		margin-right: 47px;
	}
}
@media (max-width: 1290px) {
	.menu__list {
		column-gap: 30px;
	}
	.header .socials {
		column-gap: 15px;
		margin-right: 34px;
	}
	.header-contacts__link,
	.language__item {
		font-size: 16px;
	}
	.language__item span {
		top: -4px;
		right: -45%;
	}
	.language {
		margin-right: 27px;
	}
}
@media (max-width: 1024px) {
	.menu {
		transform: translateX(110%);
		position: fixed;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: 2;
		@include rgbaColor(bac, black, 0.4);
		transition: 0.6s;
	}
	.menu__list {
		background-image: url('../../images/banner/adapt-bg-home.jpg');
		background-size: cover;
		@include blackTop(#000212e5, 0.9);
		&::after {
			opacity: 0.7;
		}
		width: 40%;
		display: flex;
		height: 100%;
		flex-direction: column;
		row-gap: 40px;
		padding: 50px;
		padding-top: 100px;
		margin-left: auto;
		transition: 0.6s;
		transform: translateX(100%);
		transition-delay: 0.4s;
	}
	.menu__link {
		font-size: 28px;
		position: relative;
		z-index: 2;
	}
	.menu-open {
		.menu {
			transform: translate(0);
		}
		.menu__list {
			transform: translate(0);
		}
	}
}
@include media(840) {
	.header {
		.socials {
			display: none;
		}
	}
	.menu__list {
		width: 60%;
	}
}
@include media(590) {
	.menu__list {
		width: 100%;
	}
	.header {
		border-bottom: 0;
		&::after {
			content: '';
			width: 100%;
			height: 1px;
			border: 1px solid;
			position: absolute;
			z-index: 4;
			bottom: 0;
			@include rgbaColor(bor, #fff, 0.2);
		}
	}
	.header__logo {
		position: relative;
		z-index: 3;
		max-width: 185px;
	}
	.header {
		padding: 23px 0;
	}
	.menu__list {
		padding-top: 145px;
	}
	.menu__link {
		font-size: 30px;
	}
	.language {
		position: absolute;
		right: 10px;
		bottom: 13px;
		z-index: 2;
	}
	.language__item {
		font-size: 20px;
	}
	.language__item span {
		top: -1px;
		right: -40%;
	}
}
.header-tell {
	position: relative;
	z-index: 2;
	background: none;
	display: none;
}
@include media(450) {
	.header {
		.header-contacts {
			background-image: url(../../images/banner/adapt-bg-home.jpg);
			background-size: cover;
			@include blackTop(#000212e5, 0.9);
			&:after {
				opacity: 0.7;
			}
			position: fixed;
			width: 100%;
			top: 0;
			left: 0;
			padding: 0 15px;
			padding-bottom: 20px;
			padding-top: 110px;
			border-bottom: 1px solid;
			@include rgbaColor(bor, #fff, 0.2);
		}
		.header-contacts__item {
			position: relative;
			z-index: 2;
			@include paddingAll(20px);
		}
		.header-contacts__link {
			font-size: 21px;
		}
		.header-tell {
			display: block;
			margin-top: 6px;
		}
		.header-contacts {
			transform: translateY(-100%);
			transition: 0.6s;
		}
	}

	.header-contacts-open {
		.header-contacts {
			transform: translateY(0%);
		}
	}
	.menu__list {
		padding-top: 130px;
		padding-left: 27px;
		row-gap: 20px;
	}
}
.open {
	overflow: hidden;
}
