.banner {
	height: 100vh;
	padding-top: 100px;
	background-image: url('../../images/banner/bg.jpg');
	position: relative;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@include rgbaColor(bac, #000212e5, 0.9);
	}
	&__container {
		display: flex;
		align-items: center;
		height: 100%;
		position: relative;
	}
	&__content {
		max-width: 900px;
	}
	&__title {
		font-family: Montserrat;
		font-size: 60px;
		font-weight: 400;
		line-height: 1.2;
		color: #fff;
		letter-spacing: 0em;
		text-align: left;
		margin-bottom: 10px;
	}
	&__sub-title {
		font-family: Montserrat;
		font-size: 24px;
		font-weight: 400;
		line-height: 29px;
		letter-spacing: 0em;
		text-align: left;
		color: #fff;
		margin-bottom: 50px;
	}
	&__text {
		color: #fff;
		margin-bottom: 53px;
	}
	&__img {
		position: absolute;
		bottom: 0px;
		right: 0;
	}
}
.banner-list {
	margin-bottom: 50px;
	&__name {
		font-family: Montserrat;
		font-size: 20px;
		font-weight: 600;
		line-height: 1.2;
		margin-bottom: 20px;
		color: #fff;
		letter-spacing: 0em;
		text-align: left;
	}
	&__item {
		color: #fff;
		padding-left: 26px;
		position: relative;
		&::before {
			content: '';
			width: 3px;
			height: 3px;
			background-color: #fff;
			border-radius: 50%;
			position: absolute;
			left: 13px;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
.services {
	padding: 85px 0;
	&__title {
		margin-bottom: 50px;
	}
	&__items {
		display: flex;
		justify-content: space-between;
		column-gap: 20px;
	}
}
.services-item {
	overflow: hidden;
	width: 593px;
	height: 421px;
	position: relative;
	&__images {
		max-width: 100%;
		height: 361px;
		&::after {
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			@include rgbaColor(bac, #000212, 0.4);
		}
	}
	&__btn {
		width: 100%;
		background-color: $hoverColor;
		color: #fff;
		&:hover {
			background: none;
			color: $hoverColor;
		}
	}
	&__name {
		position: absolute;
		z-index: 2;
		font-family: Montserrat;
		font-size: 30px;
		font-weight: 400;
		line-height: 1.3;
		letter-spacing: 0em;
		top: 50%;
		text-align: center;
		width: 100%;
		padding-left: 30px;
		padding-right: 30px;
		transform: translateY(-50%);

		color: #fff;
	}
}
.services-detail {
	position: absolute;
	transition: 0.7s;
	transform: translateY(100%);
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 2;
	background-size: cover;
	padding-bottom: 20px;
	&::after {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		@include rgbaColor(bac, black, 0.6);
	}
	&__content {
		position: relative;
		z-index: 2;
	}
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-left: 45px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 10px;
		border-bottom: 1px solid;
		margin-bottom: 22px;
		@include rgbaColor(bor, #fff, 0.4);
	}
	&__close {
		padding: 10px;
		display: flex;
		@include hoverSvg(#fff, 0.4s);
		@include rgbaColor(bac, #000212, 0.6);
	}
	&__name {
		font-family: Montserrat;
		font-size: 24px;
		font-weight: 400;
		line-height: 1.2;
		letter-spacing: 0em;
		text-align: left;
		color: #fff;
	}
	&__accordions {
		padding-left: 45px;
		margin-right: 10px;
		height: 318px;
		overflow: auto;
		&::-webkit-scrollbar {
			width: rem(2);
			background-color: rgba(0, 0, 0, 0);
		}
		&::-webkit-scrollbar-track {
			background-color: rgba(0, 0, 0, 0);
		}
		&::-webkit-scrollbar-thumb {
			border-radius: rem(0);
			background-color: #aeaeae;
			transition: all 280ms ease-in-out;
			&:hover {
				background-color: $firstAccentColor;
			}
		}
	}
}
.services-item-open-det {
	.services-detail {
		transform: translate(0);
	}
}
.services-accordion {
	@include paddingAll(20px);

	&__header {
		display: flex;
		align-items: center;
		column-gap: 14px;
		padding-bottom: 11px;
		font-family: Montserrat;
		font-size: 20px;
		font-weight: 600;
		line-height: 1.2;
		cursor: pointer;
		color: #fff;
		letter-spacing: 0em;
		text-align: left;
		svg {
			transform: rotate(180deg);
			transition: 0.6s;
		}
		span {
			display: none;
		}
	}
	.ui-accordion-header-active {
		svg {
			transform: translate(0);
		}
	}
	&__list {
		@include columnGap(10px);
	}
	&__link {
		font-family: Montserrat;
		font-size: 20px;
		font-weight: 400;
		line-height: 1.3;
		color: #fff;
		letter-spacing: 0em;
		text-align: left;
		width: fit-content;
		display: block;
		@include hoverColor($hoverColor);
	}
}
.map {
	padding-bottom: 85px;
	&__container {
		display: flex;
		justify-content: space-between;
	}
	&__title {
		margin-bottom: 10px;
	}
	&__sub-title {
		font-weight: 500;
	}
	&__text {
		max-width: 455px;
		width: 100%;
		padding-top: 170px;
	}
	path {
		transition: 0.6s;
		cursor: pointer;
		&:hover {
			fill: #c2873f;
		}
	}
}
.active-path-text {
	fill: #fff;
}
[data-text] {
	pointer-events: none;
}
.about-me {
	@include blackTop(black, 0.9);

	&__container {
		display: flex;
		z-index: 2;
		position: relative;
		align-items: center;
		padding: 20px 0 50px;
		column-gap: 128px;
		max-width: 1670px;
	}
	&__img {
		position: absolute;
		bottom: 0;
		left: 0;
		height: 97%;
	}
	&__content {
		max-width: 986px;
		margin-left: auto;
		padding-top: 30px;
	}
	&__title {
		margin-bottom: 25px;
		color: #fff;
	}
	&__sub-title {
		color: #fff;
		margin-bottom: 35px;
	}
	&__name {
		font-family: Montserrat;
		font-size: 20px;
		font-weight: 600;
		line-height: 1.2;
		color: #fff;
		letter-spacing: 0em;
		text-align: left;
		margin-bottom: 18px;
	}
	&__item {
		font-family: Montserrat;
		font-size: 18px;
		font-weight: 400;
		line-height: 1.2;
		@include paddingAll(27px);
		letter-spacing: 0em;
		text-align: left;
		color: #fff;
	}
	&__footer {
		margin-top: 32px;
		display: flex;
		justify-content: space-between;
		padding-right: 143px;
		align-items: flex-end;
	}
	&__data-name {
		color: #fff;
		margin-bottom: 10px;
	}
	&__experience {
		font-family: Montserrat;
		font-size: 18px;
		font-weight: 400;
		line-height: 1.2;
		letter-spacing: 0em;
		text-align: left;
		color: #fff;
	}
}
.real-triumphs {
	padding: 85px 0;
	&__container {
		display: flex;
		column-gap: 52px;
		justify-content: space-between;
	}
}
.triumphs-slider {
	justify-content: space-between;
	@include columnGap(0);
	max-width: 445px;
	&__footer {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;
		padding-right: 5px;
		margin-top: 20px;
	}
	&__sum {
		font-family: Montserrat;
		font-size: 40px;
		font-weight: 400;
		line-height: 1.2;
		color: #000000;
		letter-spacing: 0.1em;
		text-align: left;
	}
	&__name {
		margin-bottom: 20px;
	}
	&__text {
		margin-bottom: 46px;
		color: #000000;
	}
	&__button {
		width: 100%;
		display: block;
		text-align: center;
	}
	&__item {
		width: 100%;
		margin-right: 5px;
	}
	&__btn {
		padding: 12px;
		background: none;
		border: 3px solid #c2873f;
		transition: 0.4s;
		@include hoverSvg(#ffff, 0.4s);
		&:hover {
			background-color: #c2873f;
		}
	}
}

.triumphs-items {
	display: flex;
	column-gap: 40px;
	&__images {
		width: 100%;
		height: 362px;
		overflow: hidden;
		@include blackTop(#000212, 0.4);
	}
	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__name {
		font-family: Montserrat;
		color: #fff;
		font-size: 40px;
		font-weight: 400;
		position: absolute;
		top: 15px;
		left: 15px;
		line-height: 1;
		letter-spacing: 0em;
		text-align: left;
		z-index: 2;
	}
	&__btn {
		background-color: #c2873f;
		color: #fff;
		width: 100%;
		display: block;
		text-align: center;
		@include hoverColor(#c2873f);
		&:hover {
			background: none;
		}
	}
	&__item {
		width: 593px;
	}
	&__footer {
		@include blackTop(#000212, 0.4);
		z-index: 2;
		position: absolute;
		bottom: 0;
		width: 100%;
		padding: 10px 20px;
		display: flex;
		column-gap: 20px;
		justify-content: space-between;
	}
	&__categori {
		z-index: 2;
		color: #fff;
		font-family: Montserrat;
		font-size: 16px;
		line-height: 1.2;
		letter-spacing: 0em;
		text-align: left;
		font-weight: 400;
		span {
			color: #c2873f;
			font-weight: 500;
		}
	}
	&__date {
		font-family: Montserrat;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.2;
		z-index: 2;
		letter-spacing: 0em;
		text-align: left;
		color: #fff;
		@include hoverLink(#fff);
		&:after {
			width: 100%;
			bottom: 1px;
		}
	}
}
.me-numbers {
	padding-bottom: 85px;
	&__title {
		margin-bottom: 57px;
	}
	&__items {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
	&__item {
		padding: 31px;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		border-right: 1px solid #c2873f;
		border-bottom: 1px solid #c2873f;
		&:nth-child(3),
		&:last-child {
			border-right: 0;
		}
		&:nth-child(n + 4) {
			border-bottom: 0;
		}
	}
	&__name,
	&__desc {
		max-width: 220px;
	}
	&__name {
		font-family: Montserrat;
		font-size: 56px;
		font-weight: 400;
		line-height: 1;
		color: black;
		margin-bottom: 15px;
		letter-spacing: 0em;
		text-align: center;
	}
	&__desc {
		font-family: Montserrat;
		font-size: 20px;
		font-weight: 700;
		line-height: 1.2;
		color: black;
		letter-spacing: 0.5px;
		text-align: center;
	}
}
.questions {
	padding: 84px 0;
	background-image: url('../../images/bg-qe.jpg');
	background-size: cover;
	&__title {
		font-family: Montserrat;
		font-size: 40px;
		font-weight: 600;
		line-height: 1.2;
		letter-spacing: 0em;
		text-align: left;
		margin-bottom: 15px;
		color: #fff;
	}
	&__sub-title {
		font-family: Open Sans;
		font-size: 20px;
		font-weight: 400;
		line-height: 27px;
		letter-spacing: 0em;
		text-align: left;
		color: #fff;
		margin-bottom: 50px;
	}
	&__btn {
		display: block;
	}
	&__footer {
		display: flex;
		column-gap: 80px;
		align-items: center;
	}
	.socials {
		column-gap: 20px;
	}
	.header-contacts__link {
		font-size: 30px;
	}
}
.blog {
	padding: 85px 0;
	&__title {
		margin-bottom: 50px;
	}
}
.blog-slider {
	position: relative;
	&__buttons {
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		display: flex;
		justify-content: space-between;
		left: 0;
		z-index: 5;
		padding: 0 20px;
		position: absolute;
	}
	&__button {
		display: block;
		width: fit-content;
		@include rgbaColor(bac, #fff, 0.1);
		width: 60px;
		height: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 3px solid #fff;
		transition: 0.4s;
		@include hoverSvg(#c2873f, 0.4s);
		&:hover {
			border-color: #c2873f;
		}
	}
}
@media (max-width: 1700px) {
	.banner__content{
		max-width: 800px;
	}
	.banner__title {
		font-size: 50px;
	}
	.banner__sub-title {
		font-size: 21px;
		margin-bottom: 40px;
	}
	.banner-list__name {
		font-size: 18px;
		margin-bottom: 15px;
	}
	.banner-list__item{
		font-size: 17px;
	}
	.banner-list{
		margin-bottom: 45px;
	}
	.banner__text{
		margin-bottom: 48px;
		font-size: 18px;
	}
	.banner__img{
		max-width: 58%;
	}
}
@media (max-width: 1600px) {
	.banner__content{
		max-width: 700px;
	}
}

@media (max-width: 1200px){
	.banner__content{
		max-width: 58%;
	}
	.banner__title {
		font-size: 38px;
	}
	.banner__sub-title {
		font-size: 16px;
		margin-bottom: 25px;
	}
	.banner-list__name {
		font-size: 14px;
		margin-bottom: 10px;
	}
	.banner-list__item{
		font-size: 14px;
	}
	.banner-list{
		margin-bottom: 35px;
	}
	.banner__text{
		margin-bottom: 38px;
		font-size: 14px;
		max-width: 75%;
	}
	.banner__img{
		max-width: 58%;
	}
	.banner__btn{
		padding: 14px 18px;
		font-size: 16px;
	}
}
@media(max-width: 1024px) or (max-height: 650px){
	.banner{
		height: 100%;
	}
	.banner__img{
		display: none;
	}
	.banner__content{
		max-width: 100%;
	}
	.banner{
		padding-top: 135px;
		padding-bottom: 100px;
	}
}
@media(max-width: 600px){
	.banner__content{
		max-width: 100%;
	}
	.banner__title {
		font-size: 28px;
		margin-bottom: 6px;
	}
	.banner__sub-title {
		font-size: 14px;
		margin-bottom: 18px;
	}
	.banner-list__name {
		font-size: 14px;
		margin-bottom: 7px;
	}
	.banner-list__item{
		font-size: 14px;
	}
	.banner-list{
		margin-bottom: 25px;
	}
	.banner__text{
		margin-bottom: 28px;
		font-size: 14px;
	}
	.banner__btn{
		padding: 12px 16px;
		font-size: 14px;
	}
	.banner{
		padding-bottom: 80px;
	}
}
@media(max-width: 450px){
	.banner{
		background-image:url('../../images/banner/adapt-bg-home.jpg');
		background-size:cover;
		&::before{
			opacity: 0.7;
		}
	}
	.banner__title {
		font-size: 24px;
		margin-bottom: 2px;
	}
	.banner__sub-title {
		font-size: 12px;
		margin-bottom: 30px;
	}
	.banner-list__name {
		font-size: 14px;
		margin-bottom: 7px;
	}
	.banner-list__item{
		font-size: 14px;
	}
	.banner-list{
		margin-bottom: 30px;
	}
	.banner__text{
		margin-bottom: 30px;
		font-size: 12px;
		max-width: 100%;
	}
	.banner__btn{
		padding: 17px 16px;
		width: 100%;
		font-size: 18px;
	}
	.banner{
		padding-bottom: 34px;
	}
}