// Заголовки, общие БЄМ блоки и проче...
.title {
	font-family: Montserrat;
	font-size: 40px;
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: 0em;
}
.desc {
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.2;
	letter-spacing: 0em;
	text-align: left;
}
.text {
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0em;
	text-align: left;
}
.button {
	padding: 16px 22px;
	border: 2px solid $hoverColor;
	color:$hoverColor;
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 700;
	line-height: 25px;
	letter-spacing: 0em;
	transition: 0.6s;
	background:none;
	&:hover{
		background-color:$hoverColor;
		color:#fff;
	}
}
